body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-image: url(/Imagenes/fondo.png);
    background-size: cover;
    color: #fff;
}

header {
    background-color: #fff365;
    color: #333333;
    padding: 20px 0;
    text-align: center;
}

.header-content h1 {
    margin: 0;
}

main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.payment-form-section {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 360px;
}

.payment-form-section h2 {
    text-align: center;
    color: #333;
}

form label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}

form input {
    width: calc(100% - 22px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.button-group {
    display: flex;
    justify-content: space-between;
}

.button-group button {
    width: 48%;
    padding: 10px;
    background-color: #fff365;
    border: none;
    border-radius: 5px;
    color: #333333;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.button-group button:hover {
    background-color: #00ea9d;
}

#cancelBtn {
    background-color: #ff4d4d;
}

#cancelBtn:hover {
    background-color: #ff1a1a;
}